/*
color scheme

dark gray blue: #474e54;
light gray: #e5e5e5;
dark blue :#001F3E;
blue black: #001421;
darker gray :#ccc;

*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');

/* -----------------------
    1. GLOBAL SETTINGS
-------------------------*/
html, body{
	height: 100%;
	margin: 0;
	font-weight: 300;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 13pt;
	color: #001421;
}

a{
	text-decoration: none;
	color: #e5e5e5;
	z-index: 100;
}

h1{
	font-family: 'Satisfy', cursive;
	font-size: 38pt;
	color: #e5e5e5;
	margin:0;
	padding:40px 0 20px 0;
	text-align: center;
	font-weight: 300;
}

h6{
	font-weight: 300;
	font-size: 18pt;
	text-align: right;
	padding-right: 50px;
	font-style: italic;
	letter-spacing: .5px;
	margin: 0;
}

li{
	list-style-type: none;
}

header{
	background-color: #474e54;
	width: 100%;
}

.content{
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 30px;
}

p{
	line-height: 28px;
}

.white-txt{
	color: #e5e5e5;
}

.dali-bio, #cites{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* Navigation */
.nav{
	display: block;
}

.nav ul {
	padding:50px 0 10px 0;
	margin:0;
	text-align: center;
}

.nav ul li{
	text-transform: uppercase;
	display: inline;
	margin: 0 35px;
}

.nav ul li a{
	padding: 2px 5px;
}

.nav ul li a:hover{
	border-bottom:solid 2px #e5e5e5;
}

img.nav-logo{
	left:52%;
	top: 15px;
	transform: translateX(-50%);
	position: absolute;
	display: none;
	margin-top: 6px;
}

@media screen and (min-width:1000px) {
    .nav { 
       	display:block !important;
    }
}

#home-btn a{
	border-bottom: none;
}

.to-top{
	position: fixed;
	bottom: 30px;
	right: 10px;
	display: none;
}

/* Side Navigation - Circles */
.circle{
	position: fixed;
	right: 10px;
	top: 40%;
	z-index: 100;
}

span{
	margin-left: -90px;
    text-align: right;
    padding-right: 30px;
    color: #ccc;
    text-transform: uppercase;
    font-size: 10pt;
    display: none;
    font-weight: 400;
}

.circle li{
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: #ccc;
	margin: 15px 0;
}

.circle li:hover span{
	display: block;
}

.circle li:hover{
	background-color: #001421;
}

/* Home */
#banner{
	background-color: #474e54;
	color:#e5e5e5;
	position: relative;
}

#dali-banner{
	width: 100%;
	max-width: 1200px;
}

.intro{
	position: absolute;
	left: 45%;
	top: 230px;
	padding-right: 4%;
	max-width: 700px;
}

.quotes{
	font-family: 'Satisfy', cursive;
	font-size: 33pt;
	margin: 10px 0;
	font-weight: 300;
}

#chart{
	display: block;
	margin: 0 auto;
}

h4{ /* Birth day stuff */
	color: #e5e5e5;
	letter-spacing: 1px;
}

#left{
	position: absolute;
	right: 50%;
	border-right: 1px solid black;
	padding-right: 2%;
}

#right{
	position: absolute;
	left: 52%;
}

#left h4, #left p{
	text-align: right;
	margin: 0;
}

#right h4, #right p{
	text-align: left;
	margin: 0;
}

#left h4, #right h4{
	text-transform: uppercase;
	margin: 20px 0 3px 0;
	font-weight: 900;
}

#left p, #right p{
	font-weight: 400;
}

.bio-info{
	padding-top: 200px;
}

.timeline{
	padding:40px 0 30px 0;
	margin: 0 auto;
	font-weight: 400;
}

.timeline li{
	padding:8px 0;
}

strong{
	font-weight: bold;
	padding:0;
}

.sub1, .sub2, .sub3, .sub4{
	font-size: 12pt;
}

.sub1, .sub4{
	margin-left: 50px;
}

.sub2, .sub3{
	margin-left: 5px;
}

.dali-bio{
	background-image: url('../media/cat.jpg');
}

/* Surrealism */
.italicized{
	font-style: italic;
	font-weight: 300;
}

#sur-bg{
	background-color: #001F3E;
}

#sur-bg .quotes{
	font-size: 24pt;
}

#impact h2{
	text-transform: uppercase;
}

/* Works */
.works h1{
	color: #001F3E;
}

.artworks{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 850px;
	clear: left;
	margin-bottom: 100px;
}

.artworks div{
	width: 220px;
	height: 180px;
	background-color: #001F3E;
	position: relative;
	margin: 20px 0;
}

.art-info{
	margin-top:60px;
}

h3{
	font-family: 'Satisfy', cursive;
	font-size: 33pt;
	display: inline-block;
	color: #001F3E;
	margin: 20px 0 0 0;
}

.year{
	display: inline-block;
}

#info1 p, #info2 p, #info3 p, #info4 p, #info5 p, #info6 p{
	margin: 0 0 30px 0;
}

.img-info{
    text-align: center;
    font-size: 14pt;
    background-color: rgba(0,0,0, 0.35);
    padding: 79px 0;
    margin: 0;
    display: none;
    color: white;
}

.img-links:hover .img-info{
	display: block;
}


#me-img, #rose-img, #gr-img, #swan-img, #burn-img, #ga-img{
	background-size: cover;
	background-position: center;
}

#rose-img{
	background-image: url(../media/rose.jpg);
}

#me-img{
	background-image: url(../media/memory.jpg);
}

#gr-img{
	background-image: url(../media/great.jpg);
}

#swan-img{
	background-image: url(../media/swan.jpg);
}

#burn-img{
	background-image: url(../media/burn.jpg);
}

/* Citations */
#cites{
	background-image: url('../media/paint.jpg');
}

/* Tablet and Mobile */
@media only screen and (min-width: 50px) and (max-width: 1000px){
		/* General */
		.content{
			margin: 0 5%;
		}

		/* Nav */
		img.nav-logo{
	 		display: block;
	 	}

	    .nav{
	    	display: none;
	    }

	    .toggle-button {
		    display: inline-block;
		    cursor: pointer;
		    margin: 30px 20px 10px 20px;

		}

		.bar1, .bar2, .bar3 {
		    width: 28px;
		    height: 3px;
		    background-color: #e5e5e5;
		    margin: 6px 0;
		    transition: 0.4s;
		}

		.change .bar1 {
		    -webkit-transform: rotate(-45deg) translate(-7px, 5px) ;
		    transform: rotate(-45deg) translate(-7px, 5px) ;
		}

		.change .bar2 {
			opacity: 0;
		}

		.change .bar3 {
		    -webkit-transform: rotate(45deg) translate(-8px, -6px) ;
		    transform: rotate(45deg) translate(-8px, -6px) ;
		}

		.nav img{
			display: none;
		}

		.nav ul{
			padding: 0;
			background-color: rgba(0,0,0,0.2);
		}

		.nav ul li{
			padding: 10px 0 20px 0;
			text-align: center;
			display: block;
			color: white;
		}
		
		#home-btn{
			display: none;
		}

		.circle{
			display: none;
		}

		.artworks{
			margin-bottom: 40px;
		}
}


/* Tablet */
@media only screen and (min-width: 551px) and (max-width: 1000px){
	.intro{
		top: 120px;
	}

	.quotes{
		font-size: 25pt;
	}

	h6{
		font-size: 15pt;
	}

	.art-size{
		width: 90%;
		margin: 0 auto;
		height: 400px;
	}
}


/* Mobile  */
@media only screen and (min-width: 50px) and (max-width: 550px){
	body{
		font-size: 12pt;
	}

	h1{
		font-size: 25pt;
		padding:20px 0;
	}

	.intro{
		top: 25px;
	}

	.quotes{
		font-size: 15pt;
	}

	h6{
		font-size: 12pt;
	}

	.art-size{
		width: 100%;
		margin: 0 auto;
		height: 220px;
	}

	.sub1, .sub2, .sub3, .sub4{
		margin-left: -20px;
	}

	.artworks a{
		margin: 0 auto;
	}

	h3{
		font-size: 20pt;
		margin-bottom: 10px;
	}

	#right{
		margin-right: 5%;
	}

	.timeline{
		padding: 60px 0 30px 0;
	}

	#sur-bg .quotes{
		font-size: 18pt;
	}

	.content{
		padding-bottom: 15px;
	}
}