/*
color scheme

dark gray blue: #474e54;
light gray: #e5e5e5;
dark blue :#001F3E;
blue black: #001421;

*/

@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900');

/* -----------------------
    1. GLOBAL SETTINGS
-------------------------*/
html, body{
	height: 100%;
	margin: 0;
	text-align: center;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 13pt;
	color: #001F3E;
}

a{
	text-decoration: none;
	color: #e5e5e5;
}

a:hover{
	color: #001421;
}

h1{
	font-family: 'Satisfy', cursive;
	font-size: 38pt;
	color: #e5e5e5;
	margin:0;
	padding:40px 0;
}

li{
	list-style-type: none;
}


header{
	background-color: #474e54;
	width: 100%;
}

.nav{
	display: block;
}

.nav ul {
	padding:70px 0 0 0;
	margin:0;
}

.nav ul li{
	text-transform: uppercase;
	display: inline;
	padding: 0 40px;
}

img.nav-logo{
	left:50%;
	top: 15px;
	transform: translateX(-50%);
	position: absolute;
	display: none;
}

@media screen and (min-width:1021px) {
    .nav { 
       	display:block !important;
    }
}

.circle{
	position: fixed;
	right: 20px;
	top: 45%;
	z-index: 100;
}

span{
	margin-left: -90px;
    text-align: right;
    padding-right: 30px;
    color: #001421;
    text-transform: uppercase;
    font-size: 10pt;
    display: none;
}


.circle li{
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: #e5e5e5;
	margin: 15px 0;
}

.circle li:hover span{
	display: block;
}

.circle li:hover{
	background-color: #001421;
}

#banner{
	text-align: left;
	background-color: #474e54;
	color:#e5e5e5;
}

#dali-banner{
	width: 100%;
	max-width: 1200px;
}

.intro{
	position: absolute;
	left: 45%;
	font-size: 20pt;
	top: 25%;
	padding-right: 4%;
	max-width: 700px;
}

.quotes{
	font-family: 'Satisfy', cursive;
	font-size: 33pt;
}

#chart{
	display: block;
	margin: 0 auto;
}

h4{
	color: #e5e5e5;
	letter-spacing: 1px;
}

#left{
	position: absolute;
	right: 50%;
	border-right: 1px solid black;
	padding-right: 2%;
}


#left h4, #left p{
	text-align: right;
	margin: 0;
}

#right h4, #right p{
	text-align: left;
	margin: 0;
}

#left h4, #right h4{
	text-transform: uppercase;
	margin: 20px 0 3px 0;
	font-weight: 900;
}

#right{
	position: absolute;
	left: 52%;
}

.bio-info{
	padding-top: 200px;
}

#timeline{
	padding:30px 0 0 0;
	text-align: left;
	margin: 0 auto;
	display: inline-block;
	max-width: 800px;
}

#timeline li{
	padding:8px 0;
}

strong{
	font-weight: bold;
	padding:0;
}

.dali-bio{
	background-image: url('../media/cat.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

h6{
	font-weight: 300;
	font-size: 18pt;
	text-align: right;
	padding-right: 50px;
	font-style: italic;
	letter-spacing: .5px;
}